<style>
    @import url('https://fonts.googleapis.com/css?family=Russo+One');
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333333a9;
        color: #fff;
        padding: 10px;
        position:fixed;
        width: 100vw;
      }
      
      .nav-left a {
        font-size: 24px;
        text-decoration: none;
        color: #fff;
        font-family: 'Russo One', sans-serif;
      }
      
      .nav-right {
        display: flex;
        align-items: center;
      }
      
      .profile-pic {
        position: relative;
        cursor: pointer;
      }
      
      .profile-pic img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }
      
      .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1;
        background-color: #fff;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
      }
      
      .dropdown-menu a {
        display: block;
        text-decoration: none;
        color: #333;
        padding: 5px;
      }
      
      .dropdown-menu a:hover {
        background-color: #eee;
      }
      
      .profile-pic:hover .dropdown-menu {
        display: block;
      }
      
</style>

<nav>
    <div class="nav-left">
      <a href="#">Game Center</a>
      <!-- <a href="#">Home</a> -->

    </div>
    <div class="nav-right">
      <div class="profile-pic">
        <img src="/ironMan.jpg" alt="Profile Picture">
        <div class="dropdown-menu">
          <a href="#">profile</a>
          <a href="#">Logout</a>
        </div>
      </div>  
    </div>
  </nav>
  
