<style>
    nav{
        margin:0%;
        background-color: rgba(0, 0, 0, 0.441);
        font-family: 'Fira Sans' , sans-serif;
        align-items: center;
        display:flex;
        gap:20px;
    }
    a{
        font-weight: bolder;
        color:rgb(218, 161, 161);
        text-decoration: none;
    }
     nav > li{
        flex:1;
        list-style: none;
    }
    nav > h2{
        color:rgb(240, 240, 240)
    }  
    body{
        margin:0;
    }  
</style>

<nav>
    <h2>Game Center</h2>
    <br><br>
    <li><a href="#"> Game Center</a></li>
    <li><a href="#"> Login</a></li>
    <li><a href="#"> Register</a></li>
    <li class="user"><a href="#">Logout<i class="fas fa-sign-out-alt"></i></a></li>
</nav>
